Package: minecraft-cube-desktop
Version: 1.0
Architecture: amd64
Maintainer: Tokenyet(Dowen) <tokenyete@gmail.com>
Description: Server management tool for minecraft
Depends: libgtk-3-0, libblkid1, liblzma5
