Package: flutter-desktop-ci-example
Version: 1.0
Architecture: amd64
Maintainer: Tokenyet(Dowen) <tokenyete@gmail.com>
Description: A example to build linux deb for installing automatically.
 More description? Add it your self.
Depends: libgtk-3-0, libblkid1, liblzma5
